.volume-section {
  margin-top: 5.2rem;
}

.eng-title {
  text-align: center;
  font-size: var(--fs-52);
  padding: 0.6rem 1.2rem;
}

.jap-title {
  text-align: center;
  font-size: var(--fs-24);
  padding: 0.6rem 1.2rem;
  margin-bottom: 1.2rem;
}

.content {
  max-width: 128rem;
  margin: 0 auto;
  padding: 1.2rem 2.4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2.4rem;
}
