.checkout {
  padding: 1.2rem 2.4rem;
}

.checkout h2 {
  text-align: center;
  font-size: var(--fs-24);
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.checkout .content {
  padding: 1.2rem 2.4rem;
  border-radius: var(--border-radius);
  background-color: var(--light-orange-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.checkout .content .shipping-info {
  width: 100%;
}

.checkout .content .shipping-info h3 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.checkout .content .shipping-info p:not(:last-child) {
  margin-bottom: 1.2rem;
}

.checkout .content .shipping-info p span {
  font-weight: 700;
}

.checkout .content .total-price,
.checkout .content .item-count {
  font-weight: 700;
}

.checkout .content .total-price span,
.checkout .content .item-count span {
  font-size: var(--fs-24);
}
