.chapter {
  padding: 1.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
  background-color: bisque;
}

.chapter-info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-buttons {
  display: flex;
  gap: 0.6rem;
}
