.home-section {
  padding: 3.2rem 6.4rem;
  min-height: 100vh;
  background-color: var(--dark-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-section div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.home-section footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--light-orange-color);
  padding: 0.6rem 1.2rem;
}

/* this fixes 125% and 150% scaling */
/* @media (-webkit-device-pixel-ratio: 1.25) {
  .home-section {
    padding: 3.2rem 6.4rem;
  }
}

@media (-webkit-device-pixel-ratio: 1.5) {
  .home-section {
    padding: 3.2rem 6.4rem;
  }
} */

@media (max-width: 720px) {
  .home-section {
    padding-top: 6.4rem;
  }

  .home-section div {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
}
