/* page title */
.page-title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--fs-52);
  padding: 0.6rem 1.2rem;
  margin-bottom: 1.2rem;
}

/* links and buttons */
a,
button {
  padding: 0.3rem 0.6rem;
  color: inherit;
  text-transform: uppercase;
  font-size: var(--fs-24);
  border-radius: var(--border-radius);
  transition: var(--animation);
}

a.disabled,
button.disabled {
  background-color: var(--disabled-color);
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

button.sign-in,
button.sign-up {
  font-size: var(--fs-24);
  background-color: var(--amber-color);
}

button.close {
  font-size: var(--fs-24);
  background-color: transparent;
}

button.nav-sign-in,
button.nav-sign-up {
  background-color: var(--amber-color);
}

button.nav-sign-out {
  background-color: var(--red-color);
}

button.plus-one {
  background-color: var(--amber-color);
}

button.minus-one {
  background-color: transparent;
}

button.checkout {
  background-color: var(--green-color);
}

button.update {
  background-color: var(--amber-color);
}

button.load-more {
  background-color: var(--amber-color);
}

a.nav-cart {
  background-color: var(--green-color);
}

a.nav-logo {
  font-weight: 700;
  font-size: var(--fs-32);
}

a.nav-displayname {
  padding: 0.3rem 0.6rem;
  font-size: var(--fs-24);
  font-weight: 700;
  border-radius: var(--border-radius);
  background-color: var(--amber-color);
}

a.to-shipping-address {
  background-color: var(--amber-color);
  font-size: var(--fs-default);
}

a:hover,
button:hover {
  background-color: var(--primary-color);
}

button.disabled:hover {
  background-color: var(--disabled-color);
}

.active-link {
  background-color: var(--active-color) !important;
}

/* form related inputs, labels and errors */
.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.input-group label {
  text-transform: uppercase;
}

.input-group input {
  width: 100%;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
  background-color: var(--light-orange-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  transition: var(--animation);
}

.input-group input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.input-group .error-placeholder {
  opacity: 0;
}

.input-group .error {
  font-size: var(--fs-14);
  color: var(--red-color);
}

/* loading or error */
.loading-error-section {
  margin: 0 auto;
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.general {
  font-size: var(--fs-24);
  font-weight: 700;
  padding: 0.3rem 0.6rem;
  border-radius: var(--border-radius);
}

.general.error {
  background-color: var(--red-color);
}

.general.loading {
  background-color: var(--disabled-color);
}
