:root {
  /* GENERAL */
  --animation: all 0.3s ease-in-out;
  --border-radius: 4px;

  /* SHADOWS */
  --shadow: 4px 4px 0 #f97316;
  --sm-shadow: 2px 2px 0 #f97316;

  /* FONT_SIZE */
  --fs-52: 5.2rem;
  --fs-48: 4.8rem;
  --fs-24: 2.4rem;
  --fs-18: 1.8rem;
  --fs-default: 1.6rem;
  --fs-14: 1.4rem;
  --fs-12: 1.2rem;

  /* COLORS */
  --font-color: #0f172a;
  --bg-color: #fff7ed;
  --primary-color: #f97316;
  --light-orange-color: #fed7aa;
  --red-color: #b91c1c;
  --dark-green-color: #15803d;
  --amber-color: #f59e0b;
}
