:root {
  /* GENERAL */
  --animation: all 0.3s ease-in-out;
  --border-radius: 4px;

  /* FONT_SIZE */
  --fs-48: 4.8rem;
  --fs-32: 3.2rem;
  --fs-24: 2.4rem;
  --fs-18: 1.8rem;
  --fs-default: 1.6rem;
  --fs-14: 1.4rem;
  --fs-12: 1.2rem;

  /* COLORS */
  --dark-font-color: #0f172a;
  --light-font-color: #f8fafc;

  --dark-bg-color: #171717;
  --light-bg-color: #fff7ed;

  --active-color: #ea580c;
  --disabled-color: #64748b;

  --primary-color: #f97316;
  --light-orange-color: #fed7aa;
  --red-color: #b91c1c;
  --green-color: #15803d;
  --amber-color: #f59e0b;

  --success-color: #bef264;
  --fail-color: #fda4af;
  --warning-color: #fde047;
}
