.cart-item {
  padding: 1.2rem 2.4rem;
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
  background-color: var(--light-orange-color);
  border-radius: var(--border-radius);
}

.cart-item p:first-child {
  font-weight: 700;
  font-size: var(--fs-18);
}
