.cart-item {
  padding: 1.2rem 2.4rem;
  background-color: var(--light-orange-color);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.cart-item img {
  width: 80px;
  border: 2px solid black;
  border-radius: var(--border-radius);
}

.cart-item .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.2rem;
}

.cart-item .content .details,
.cart-item .content .price,
.cart-item .content .buttons {
  display: flex;
  gap: 1.2rem;
}

.cart-item .content .details p:first-child,
.cart-item .content .price p:first-child,
.cart-item .content .price p:last-child {
  font-weight: 700;
  font-size: var(--fs-18);
}
