.card {
  padding: 0.3rem 0.6rem;
  transition: all 0.2s ease-in-out;
  background-color: var(--light-orange-color);
  border-radius: 6px;
}

.card:hover {
  box-shadow: var(--shadow);
  transform: translate(-4px, -4px);
  background-color: var(--primary-color);
}
