.nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding: 0.6rem 1.2rem;
  background-color: var(--light-orange-color);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.6rem;
}

.nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.nav span {
  font-weight: 700;
}

@media (max-width: 720px) {
  .nav {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .nav span {
    display: none;
  }
}

@media (max-width: 420px) {
  .nav button,
  .nav a {
    font-size: var(--fs-default);
  }
}
