.nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding: 0.6rem 1.2rem;
  background-color: var(--light-orange-color);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.6rem;
}

.logo {
  font-weight: 700;
  font-size: var(--fs-32);
}

.nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.nav a,
.nav button {
  color: inherit;
  text-transform: uppercase;
  font-size: var(--fs-24);
  background-color: var(--light-orange-color);
  border-radius: var(--border-radius);
  padding: 0.3rem 0.6rem;
  transition: var(--animation);
  cursor: pointer;
}

.displayname {
  font-size: var(--fs-24);
  font-weight: 700;
  border-radius: var(--border-radius);
  background-color: var(--amber-color);
  padding: 0.3rem 0.6rem;
}

.nav a {
  text-decoration: none;
}

.nav a.cart {
  background-color: var(--green-color);
  border: 2px solid black;
}

.nav button.sign-in,
.nav button.sign-up {
  background-color: var(--amber-color);
}

.nav button.sign-out {
  background-color: var(--red-color);
}

.nav a:hover,
.nav a:hover.cart,
.nav button:hover.sign-in,
.nav button:hover.sign-ip,
.nav button:hover.sign-out,
.nav button:hover {
  background-color: var(--primary-color);
}
