.nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding: 0.6rem 1.2rem;
  background-color: var(--light-orange-color);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.6rem;
}

.nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.displayname {
  font-size: var(--fs-24);
  font-weight: 700;
  border-radius: var(--border-radius);
  background-color: var(--amber-color);
  padding: 0.3rem 0.6rem;
}
