.auth-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
}

.form {
  width: 32rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--light-orange-color);
  box-shadow: var(--shadow);
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form h1 {
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-size: var(--fs-48);
}

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.input-group label {
  text-transform: uppercase;
}

.input-group input {
  width: 100%;
  border: none;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  padding: 0.3rem 0.6rem;
}
.input-group input:focus {
  outline: none;
}

.input-group input:last-child {
  margin-bottom: 1.2rem;
}

.input-group p {
  font-size: var(--fs-14);
  color: var(--red-color);
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  color: inherit;
  text-transform: uppercase;
  border: 2px solid transparent;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  padding: 0.3rem 0.6rem;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.btn.close {
  background-color: transparent;
  border: 2px solid transparent;
}

.btn:hover {
  background-color: var(--primary-color);
  box-shadow: var(--sm-shadow);
  transform: translate(-2px, -2px);
}
